@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display&display=swap');


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Playfair Display', serif;
}



a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: bisque;
  padding: 1rem 0;
}

#logo {
  width: 50px;
}

.center-txt {
  text-align: center;
}

.item-image {
  width: auto;
}

#items {
  display: grid;
  grid-template-columns: auto auto auto;
  
  li {
    display: flex;
    flex-direction: column;

    a {
      margin: 0.5rem 0;
      align-self: center;
      border: 1px solid black;
      padding: 2px;
      box-shadow: 3px 3px;
    }
  }
}
.popup {
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.popup-close {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: xx-large;
}

.popup_container {
  background-color: rgba(7, 6, 6, 0.85);
  color: #ffffff;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

  ul {
    flex-direction: column;
    margin-top: 2rem;
    * {
      display: block;
    }
  }
}

.name-like {
  display: flex;
  justify-content: center;
  gap: 1rem;
.popup_title-sub {
  text-decoration: underline wavy;
  text-align: center;
}
}

#popup-summary p {
  margin: 2rem auto;
  width: 70%;
}

#popup-img {
  margin: 2.5rem;
}