@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display&display=swap');


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Playfair Display', serif;
}



a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: bisque;
  padding: 1rem 0;
}

#logo {
  width: 50px;
}

.center-txt {
  text-align: center;
}